name: Build and Publish HTML

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
  repository_dispatch: 
    types: [nocodb_update]
  schedule:
    - cron: "0 6 * * *"

permissions:
  contents: write
  pages: write
  id-token: write
concurrency:
  group: deploy-site 
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        env:
          XC_TOKEN: ${{ secrets.XC_TOKEN }}
        run: |
          python script.py

      - name: Prepare artifact for Pages
        run: |
          mkdir public
          cp index.html public/
          cp -r images public/images || true

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: public

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
